.sidebar {
    width: 16%;
    max-height: 100%;
    background-color: #261e1e;
    padding-top: 40px;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100vh;
}

.imgnav img {
    width: 156px;
    margin-top: -35px;
    margin-left: 11px;
    margin-bottom: 11%;
}

.grid a {
    margin-top: 35%;
    margin-left: 10px;
    display: flex;
    grid-template-columns: auto;
    font-size: 20px;
    text-decoration: none !important;
    color: white !important;
    font-family: "Montserrat", sans-serif;
}
i {
    padding-top: 5px;
    padding-right: 10px;
}

.log-out {
    margin-top: 25%;
}

.content {
    width: 84%;
    margin-left: 16%;
}

.email-ctn {
    display: flex;
    padding-top: 6px;
    margin-left: 81%;
    font-size: 19px;
}

a:hover {
    background-color: #008CDD;
}

a.action {
    display: inline-block;
    color:#008CDD; !important;
}
a.action:hover {
    background-color: transparent !important;
}

.card {
    height: 31vh;
    margin-top: 22%;
    box-shadow: 2px 2px 12px #181717;
}

h4{
    color:#008CDD;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}
label{
    font-size: 18px;
}

.shop{
    font-weight: 900;
}


.label{
    margin-top: 10%;
    font-size: 20px;
    color:#008CDD;
    font-weight: 600;

}

.table{
    box-shadow: 0px 0px 8px black;
}

body{
    overflow-x: hidden;
}