.Btn-color{
    background : #261e1e;
    color: white;
    height: 45px;
    width: 219px;
    margin-top: 50px;
    margin-left: 60em;
    border: none;
}
.tbl{
    margin-left: 17%;
}

.tl{
    margin-left: 36%;
}